<h1>Liste des utilisateurs</h1>
<form method="get" name="formulaire" action="{{ url('lignes.new') }}">
  <button type="submit">Ajouter</button>
</form>
<table>
<thead>
  <tr>
    <th>ID</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>AGE</th>
    <th>ACTION</th>
  </tr>
</thead>
<tbdoy>
{% for ligne in lignes %}
   <tr>
     <td>{{ligne.id}}</td>
     <td>{{ligne.nom}}</td>
     <td>{{ligne.prenom}}</td>
     <td>{{ligne.age}}</td>
     <td>
       <form method="post" name="formulaire" action="{{ url('lignes.delete', {id: ligne.id}) }}">
            <button type="submit">Supprimer</button>
        </form>
      </td>
      <td>
        <form method="get" name="formulaire" action="{{ url('lignes.edit', {id: ligne.id}) }}">
          <button type="submit">Modifier</button>
        </form>
      </td>
      <td>
        <form method="get" name="formulaire" action="{{ url('stops.newfromligne', {id: ligne.id}) }}">
          <button type="submit">Ajout d'un chien</button>
        </form>
      </td>
      <td>
        <form method="get" name="formulaire" action="{{ url('stops.byligne', {id: ligne.id}) }}">
          <button type="submit">Liste des chiens</button>
        </form>
      </td>
   </tr>
{% endfor %}
</tbdoy>
</table>
